src/main/xsd/merchant-onboard-api-v13.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://payfac.vantivcnp.com/api/merchant/onboard" xmlns:tns="http://payfac.vantivcnp.com/api/merchant/onboard" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.1">

    <xs:include schemaLocation="merchant-onboard-api-enum-v13.xsd" />

    <xs:element name="approvedMccResponse" type="tns:approvedMccResponse"/>

    <xs:element name="backgroundCheckResults" type="tns:backgroundCheckResults"/>

    <xs:element name="errorResponse" type="tns:errorResponse"/>

    <xs:element name="legalEntityCreateRequest" type="tns:legalEntityCreateRequest"/>

    <xs:element name="legalEntityCreateResponse" type="tns:legalEntityCreateResponse"/>

    <xs:element name="legalEntityResponse" type="tns:legalEntityResponse"/>

    <xs:element name="legalEntityRetrievalResponse" type="tns:legalEntityRetrievalResponse"/>

    <xs:element name="legalEntityUpdateRequest" type="tns:legalEntityUpdateRequest"/>

    <xs:element name="legalEntityPrincipalCreateRequest" type="tns:legalEntityPrincipalCreateRequest"/>

    <xs:element name="principalCreateResponse" type="tns:principalCreateResponse"/>

    <xs:element name="legalEntityPrincipalCreateResponseWithResponseFields" type="tns:legalEntityPrincipalCreateResponseWithResponseFields"/>

    <xs:element name="legalEntityPrincipalCreateResponse" type="tns:legalEntityPrincipalCreateResponse"/>

    <xs:element name="legalEntityPrincipalDeleteResponse" type="tns:legalEntityPrincipalDeleteResponse"/>

    <xs:element name="response" type="tns:response"/>

    <xs:element name="subMerchantCreateRequest" type="tns:subMerchantCreateRequest"/>

    <xs:element name="subMerchantCreateResponse" type="tns:subMerchantCreateResponse"/>

    <xs:element name="subMerchantECheckFeature" type="tns:subMerchantECheckFeature"/>

    <xs:element name="subMerchantFraudFeature" type="tns:subMerchantFraudFeature"/>

    <xs:element name="subMerchantAmexAcquiredFeature" type="tns:subMerchantAmexAcquiredFeature"/>

    <xs:element name="subMerchantRetrievalResponse" type="tns:subMerchantRetrievalResponse"/>

    <xs:element name="subMerchantUpdateRequest" type="tns:subMerchantUpdateRequest"/>

    <xs:element name="legalEntityAgreementCreateRequest" type="tns:legalEntityAgreementCreateRequest"/>

    <xs:element name="legalEntityAgreementCreateResponse" type="tns:legalEntityAgreementCreateResponse"/>

    <xs:element name="legalEntityAgreementRetrievalResponse" type="tns:legalEntityAgreementRetrievalResponse"/>

    <xs:element name="principalDeleteResponse" type="tns:principalDeleteResponse"/>


    <xs:complexType name="legalEntityCreateRequest">
        <xs:sequence>
            <xs:element name="legalEntityName" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="60"/>
                        <xs:pattern value="\p{IsBasicLatin}*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="legalEntityType" type="tns:legalEntityType"/>
            <xs:element name="legalEntityOwnershipType" type="tns:legalEntityOwnershipType"/>
            <xs:element name="doingBusinessAs"  minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="60"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="taxId" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="9"/>
                        <xs:maxLength value="25"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="contactPhone" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="annualCreditCardSalesVolume" type="xs:string"/>
            <xs:element name="hasAcceptedCreditCards" type="xs:boolean"/>
            <xs:element name="address" type="tns:address"/>
            <xs:element name="principal" type="tns:legalEntityPrincipal" maxOccurs="1"/>
            <xs:element name="yearsInBusiness"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                        <xs:pattern value="[0-9]{0,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="streetAddress1" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetAddress2"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="stateProvince" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="postalCode" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="7" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="countryCode" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2" />
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="legalEntityPrincipal">
        <xs:sequence>
            <xs:element name="principalId" type="xs:int" minOccurs="0"/>
            <xs:element name="title"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="60"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firstName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastName" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emailAddress" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ssn" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="9"/>
                        <xs:maxLength value="25"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="contactPhone" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dateOfBirth" type="xs:date"/>
            <xs:element name="driversLicense" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="25"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="driversLicenseState" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="address" type="tns:principalAddress" minOccurs="0" />
            <xs:element name="stakePercent" >
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0" />
                        <xs:maxInclusive value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="principal" type="tns:principalResult" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalAddress">
        <xs:sequence>
            <xs:element name="streetAddress1" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetAddress2"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="stateProvince" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="postalCode" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="7" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="countryCode" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2" />
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="legalEntityCreateResponse">
        <xs:complexContent>
            <xs:extension base="tns:legalEntityResponse">
                <xs:sequence>
                    <xs:element name="principal" type="tns:legalEntityPrincipalCreateResponse" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>



    <xs:complexType name="legalEntityResponse">
        <xs:complexContent>
            <xs:extension base="tns:response">
                <xs:sequence>
                    <xs:element name="legalEntityId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="19"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="responseCode" type="xs:short" minOccurs="0"/>
                    <xs:element name="responseDescription"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="originalLegalEntityId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="19"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="originalLegalEntityStatus"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element ref="tns:backgroundCheckResults" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="duplicate" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="response">
        <xs:sequence>
            <xs:element name="transactionId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="legalEntityPrincipalCreateRequest">
        <xs:sequence>
            <xs:element name="principal" type="tns:legalEntityPrincipal" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="legalEntityPrincipalCreateResponse">
        <xs:complexContent>
            <xs:extension base="tns:response">
                <xs:sequence>
                    <xs:element name="principalId" type="xs:int" minOccurs="0"/>
                    <xs:element name="firstName" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="lastName" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="legalEntityRetrievalResponse">
        <xs:complexContent>
            <xs:extension base="tns:legalEntityCreateRequest">
                <xs:sequence>
                    <xs:element name="legalEntityPrincipal" type="tns:legalEntityPrincipal" minOccurs="0"/>
                    <xs:element name="legalEntityId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="19"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="responseCode" type="xs:short" minOccurs="0"/>
                    <xs:element name="responseDescription"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element ref="tns:backgroundCheckResults" minOccurs="0"/>
                    <xs:element name="transactionId" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="19" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="updateDate" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="decisionDate" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="tinValidationStatus"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="sub_merchant_processing_status" type="xs:boolean"/>
                </xs:sequence>
                <xs:attribute name="overallStatus">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="backgroundCheckResults">
        <xs:sequence>
            <xs:element name="business" type="tns:businessResult" minOccurs="0"/>
            <xs:element name="principal" type="tns:principalResult" minOccurs="0"/>
            <xs:element name="businessToPrincipalAssociation" type="tns:businessToPrincipalAssociation" minOccurs="0"/>
            <xs:element name="backgroundCheckDecisionNotes"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bankruptcyData" type="tns:bankruptcyResult" minOccurs="0"/>
            <xs:element name="lienResult" type="tns:lienResult" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="businessResult">
        <xs:sequence>
            <xs:element name="verificationResult" type="tns:businessVerificationResult" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="businessVerificationResult">
        <xs:sequence>
            <xs:element name="overallScore" type="tns:businessScore" minOccurs="0"/>
            <xs:element name="nameAddressTaxIdAssociation" type="tns:nameAddressTaxIdAssociation" minOccurs="0"/>
            <xs:element name="nameAddressPhoneAssociation" type="tns:businessNameAddressPhoneAssociation" minOccurs="0"/>
            <xs:element name="verificationIndicators" type="tns:businessVerificationIndicators" minOccurs="0"/>
            <xs:element name="riskIndicators" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="riskIndicator" type="tns:potentialRiskIndicator" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="businessScore">
        <xs:sequence>
            <xs:element name="score" type="tns:businessOverallScore" minOccurs="0"/>
            <xs:element name="description"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="110"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="nameAddressTaxIdAssociation">
        <xs:sequence>
            <xs:element name="code" type="tns:nameAddressTaxIdAssociationCode" minOccurs="0"/>
            <xs:element name="description"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="120"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="businessNameAddressPhoneAssociation">
        <xs:sequence>
            <xs:element name="code" type="tns:businessNameAddressPhoneAssociationCode" minOccurs="0"/>
            <xs:element name="description"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="120"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="businessVerificationIndicators">
        <xs:sequence>
            <xs:element name="nameVerified" type="xs:boolean"/>
            <xs:element name="addressVerified" type="xs:boolean"/>
            <xs:element name="cityVerified" type="xs:boolean"/>
            <xs:element name="stateVerified" type="xs:boolean"/>
            <xs:element name="zipVerified" type="xs:boolean"/>
            <xs:element name="phoneVerified" type="xs:boolean"/>
            <xs:element name="taxIdVerified" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="potentialRiskIndicator">
        <xs:sequence>
            <xs:element name="code" type="tns:riskIndicatorCode" minOccurs="0"/>
            <xs:element name="description" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="120"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalResult">
        <xs:sequence>
            <xs:element name="verificationResult" type="tns:principalVerificationResult" minOccurs="0"/>
            <xs:element name="backgroundCheckDecisionNotes"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalVerificationResult">
        <xs:sequence>
            <xs:element name="overallScore" type="tns:principalScore" minOccurs="0"/>
            <xs:element name="nameAddressSsnAssociation" type="tns:nameAddressSsnAssociation" minOccurs="0"/>
            <xs:element name="nameAddressPhoneAssociation" type="tns:principalNameAddressPhoneAssociation" minOccurs="0"/>
            <xs:element name="verificationIndicators" type="tns:principalVerificationIndicators" minOccurs="0"/>
            <xs:element name="riskIndicators" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="riskIndicator" type="tns:potentialRiskIndicator" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalScore">
        <xs:sequence>
            <xs:element name="score" type="tns:principalOverallScore" minOccurs="0"/>
            <xs:element name="description"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="nameAddressSsnAssociation">
        <xs:sequence>
            <xs:element name="code" type="tns:nameAddressSsnAssociationCode" minOccurs="0"/>
            <xs:element name="description"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="60"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalNameAddressPhoneAssociation">
        <xs:sequence>
            <xs:element name="code" type="tns:principalNameAddressPhoneAssociationCode" minOccurs="0"/>
            <xs:element name="description"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="60"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalVerificationIndicators">
        <xs:sequence>
            <xs:element name="nameVerified" type="xs:boolean"/>
            <xs:element name="addressVerified" type="xs:boolean"/>
            <xs:element name="phoneVerified" type="xs:boolean"/>
            <xs:element name="ssnVerified" type="xs:boolean"/>
            <xs:element name="dobVerified" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="businessToPrincipalAssociation">
        <xs:sequence>
            <xs:element name="score" type="tns:businessToPrincipalScore" minOccurs="0"/>
            <xs:element name="description" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="95"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bankruptcyResult">
        <xs:sequence>
            <xs:element name="bankruptcyType"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bankruptcyCount" type="xs:int" minOccurs="0"/>
            <xs:element name="companyName"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="120"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetAddress1"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetAddress2"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="state"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="zip"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="zip4"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="filingDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lienResult">
        <xs:sequence>
            <xs:element name="lienType"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="releasedCount" type="xs:int" minOccurs="0"/>
            <xs:element name="unreleasedCount" type="xs:int" minOccurs="0"/>
            <xs:element name="companyName"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="120"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetAddress1" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetAddress2"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="state"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="zip"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="zip4" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="filingDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="legalEntityUpdateRequest">
        <xs:sequence>
            <xs:element name="address" type="tns:addressUpdatable" minOccurs="0"/>
            <xs:element name="contactPhone"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="doingBusinessAs"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="annualCreditCardSalesVolume" type="xs:long" minOccurs="0"/>
            <xs:element name="hasAcceptedCreditCards" type="xs:boolean" minOccurs="0"/>
            <xs:element name="principal" type="tns:legalEntityPrincipalUpdatable" minOccurs="0"/>
            <xs:element name="backgroundCheckFields" type="tns:legalEntityBackgroundCheckFields" minOccurs="0"/>
            <xs:element name="legalEntityOwnershipType" type="tns:legalEntityOwnershipType" minOccurs="0"/>
            <xs:element name="yearsInBusiness"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0" />
                        <xs:maxLength value="3" />
                        <xs:pattern value="[0-9]{0,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addressUpdatable">
        <xs:sequence>
            <xs:element name="streetAddress1"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetAddress2"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="stateProvince" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="postalCode"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="7" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="countryCode"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2" />
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="legalEntityPrincipalUpdatable">
        <xs:sequence>
            <xs:element name="principalId" type="xs:int"/>
            <xs:element name="title" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0" />
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emailAddress" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="contactPhone" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="13" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="address" type="tns:principalAddress" minOccurs="0"/>
            <xs:element name="stakePercent" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0" />
                        <xs:maxInclusive value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="backgroundCheckFields" type="tns:principalBackgroundCheckFields" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="principalBackgroundCheckFields">
        <xs:sequence>
            <xs:element name="firstName"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastName"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ssn"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="9" />
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dateOfBirth" type="xs:date" minOccurs="0"/>
            <xs:element name="driversLicense"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="driversLicenseState"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="legalEntityBackgroundCheckFields">
        <xs:sequence>
            <xs:element name="legalEntityName"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                        <xs:pattern value="\p{IsBasicLatin}*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="legalEntityType" type="tns:legalEntityType" minOccurs="0"/>
            <xs:element name="taxId"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="9" />
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="subMerchantCreateRequest">
        <xs:sequence>
            <xs:element name="merchantName" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="amexMid"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="15" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="discoverConveyedMid"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="15" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="url" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="120" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="customerServiceNumber" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="13" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="hardCodedBillingDescriptor" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="maxTransactionAmount" >
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:totalDigits value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="purchaseCurrency"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3" />
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="merchantCategoryCode" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="4" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="taxAuthority" type="xs:string" minOccurs="0"/>
            <xs:element name="taxAuthorityState" type="xs:string" minOccurs="0"/>
            <xs:element name="bankRoutingNumber" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bankAccountNumber" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="pspMerchantId" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="32" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fraud" type="tns:subMerchantFraudFeature" minOccurs="0"/>
            <xs:element name="amexAcquired" type="tns:subMerchantAmexAcquiredFeature" minOccurs="0"/>
            <xs:element name="address" type="tns:address" minOccurs="0"/>
            <xs:element name="primaryContact" type="tns:subMerchantPrimaryContact" minOccurs="0"/>
            <xs:element name="createCredentials" type="xs:boolean" minOccurs="0"/>
            <xs:element name="eCheck" type="tns:subMerchantECheckFeature" minOccurs="0"/>
            <xs:element name="subMerchantFunding" type="tns:subMerchantFunding" minOccurs="0"/>
            <xs:element name="settlementCurrency" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3" />
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="subMerchantFraudFeature">
        <xs:sequence/>
        <xs:attribute name="enabled" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="subMerchantAmexAcquiredFeature">
        <xs:sequence/>
        <xs:attribute name="enabled" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="subMerchantPrimaryContact">
        <xs:sequence>
            <xs:element name="firstName" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastName" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emailAddress" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="phone" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="13" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="subMerchantECheckFeature">
        <xs:sequence>
            <xs:element name="eCheckCompanyName"  minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="eCheckBillingDescriptor"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="enabled" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="subMerchantFunding">
        <xs:sequence>
            <xs:element name="feeProfile"  minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="150" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fundingSubmerchantId" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="32" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="enabled" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="subMerchantCreateResponse">
        <xs:complexContent>
            <xs:extension base="tns:response">
                <xs:sequence>
                    <xs:element name="subMerchantId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="19" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="merchantIdentString"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="originalSubMerchant" type="tns:subMerchantRetrievalResponse" minOccurs="0"/>
                    <xs:element name="credentials" type="tns:subMerchantCredentials" minOccurs="0"/>
                    <xs:element name="paypageCredentials" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="paypageCredential" type="tns:paypageCredential" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="amexSellerId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="32" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="duplicate" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="subMerchantRetrievalResponse">
        <xs:complexContent>
            <xs:extension base="tns:subMerchantCreateRequest">
                <xs:sequence>
                    <xs:element name="subMerchantId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="19" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="amexSellerId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="32" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="transactionId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="19" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="merchantIdentString"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="credentials" type="tns:subMerchantCredentials" minOccurs="0"/>
                    <xs:element name="paypageCredentials" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="paypageCredential" type="tns:paypageCredential" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="updateDate" type="xs:dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="subMerchantCredentials">
        <xs:sequence>
            <xs:element name="username"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="72" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="password"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="72" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="passwordExpirationDate" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paypageCredential">
        <xs:sequence>
            <xs:element name="username"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="72" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="paypageId"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="subMerchantUpdateRequest">
        <xs:sequence>
            <xs:element name="merchantName"  minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="amexMid" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="15" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="discoverConveyedMid"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="15" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="url" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="120" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="customerServiceNumber"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="13" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="hardCodedBillingDescriptor"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="maxTransactionAmount" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:totalDigits value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bankRoutingNumber"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bankAccountNumber" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="pspMerchantId" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="32" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="purchaseCurrency"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3" />
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="address" type="tns:addressUpdatable" minOccurs="0"/>
            <xs:element name="primaryContact" type="tns:subMerchantPrimaryContactUpdatable" minOccurs="0"/>
            <xs:element name="disable" type="xs:boolean" minOccurs="0"/>
            <xs:element name="fraud" type="tns:subMerchantFraudFeature" minOccurs="0"/>
            <xs:element name="amexAcquired" type="tns:subMerchantAmexAcquiredFeature" minOccurs="0"/>
            <xs:element name="eCheck" type="tns:subMerchantECheckFeature" minOccurs="0"/>
            <xs:element name="subMerchantFunding" type="tns:subMerchantFunding" minOccurs="0"/>
            <xs:element name="taxAuthority" type="xs:string" minOccurs="0"/>
            <xs:element name="taxAuthorityState" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="subMerchantPrimaryContactUpdatable">
        <xs:sequence>
            <xs:element name="firstName"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastName"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emailAddress"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="phone"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="13" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="errorResponse">
        <xs:complexContent>
            <xs:extension base="tns:response">
                <xs:sequence>
                    <xs:element name="errors" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="error" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="approvedMccResponse">
        <xs:complexContent>
            <xs:extension base="tns:response">
                <xs:sequence>
                    <xs:element name="approvedMccs" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="approvedMcc" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="legalEntityAgreementCreateRequest">
        <xs:sequence>
            <xs:element name="legalEntityAgreement" type="tns:legalEntityAgreement" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="legalEntityAgreement">
        <xs:sequence>
            <xs:element name="legalEntityAgreementType" type="tns:legalEntityAgreementType" />
            <xs:element name="agreementVersion"  >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="userFullName"  >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="userSystemName" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="userIPAddress" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="40"/>
                        <xs:pattern value="([a-zA-Z0-9.:])*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="manuallyEntered" type="xs:boolean" minOccurs="0"/>
            <xs:element name="acceptanceDateTime"  type="xs:dateTime" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="legalEntityAgreementCreateResponse">
        <xs:complexContent>
            <xs:extension base="tns:response">
                <xs:attribute name="duplicate" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="legalEntityAgreementRetrievalResponse">
        <xs:sequence>
            <xs:element name="legalEntityId"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="19"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="transactionId" type="xs:long" minOccurs="0"/>
            <xs:element name="agreements" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="legalEntityAgreement" type="tns:legalEntityAgreement" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="legalEntityPrincipalDeleteResponse">
        <xs:complexContent>
            <xs:extension base="tns:response">
                <xs:sequence>
                    <xs:element name="legalEntityId"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="19"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="principalId" type="xs:int" minOccurs="0"/>
                    <xs:element name="responseDescription"  minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>



    <xs:complexType name="legalEntityPrincipalCreateResponseWithResponseFields">
        <xs:sequence>
            <xs:element name="principalId" type="xs:int" minOccurs="0"/>
            <xs:element name="firstName" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastName" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="responseCode" type="xs:short" minOccurs="0"/>
            <xs:element name="responseDescription"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="principalCreateResponse">
        <xs:sequence>
            <xs:element name="legalEntityId"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="19"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="principal" type="tns:legalEntityPrincipalCreateResponseWithResponseFields" minOccurs="0" maxOccurs="1"/>
            <xs:element name="transactionId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="principalDeleteResponse">
        <xs:sequence>
            <xs:element name="transactionId" type="xs:long" minOccurs="0"/>
            <xs:element name="legalEntityId"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="19"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="principalId" type="xs:int" minOccurs="0"/>
            <xs:element name="responseDescription"  minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>


